body {
  background-color: #d9e3eb;
}

.centered {
  padding-top: 205px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 3rem;
  color: rgb(244, 237, 237);
  background-color: rgb(9, 8, 8);
}
